@font-face {
    font-family: GalanoClassic;
    src: url(GalanoClassic-Regular.woff2);

}

* {
    font-size: 1rem;
    line-height: 1.6;
    box-sizing: border-box;
    font-family: GalanoClassic, sans-serif;
    margin: 0;
    padding: 0;
}

body {

}

header {
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    top: 0;
    max-width: 1200px;
    width: 100%;
    height: 60px;
    background-color: #E6E6E6;
    //border-bottom: black solid 1px;
    box-shadow: 0 5px 5px -5px black;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#vasen {
    margin-right: 40px;
    padding: 20px;
    top: 100px;
    overflow: auto;
    position: sticky;
    flex-shrink: 1;
    flex-grow: 0;
    width: 100%;
    height: 100%;
    background: #E6E6E6;
    max-width: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.aluevalikko {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;


}
.aluelista {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
    max-width: 200px;
    width: 100%;
    background-color: #8F00C7;
    transition: background .2s ease-in-out;
    list-style: none;
    border-radius: 20px;
}

.aluelista:hover {
    background: #490066;
}
.aluelinkki{
    text-decoration: none;
    font-size: 1.2rem;
    color: #FFFFFF;
}

#keski {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 600px;
    width: 100%;
    height: 100%;
}

#oikea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    padding: 20px;
    top: 100px;
    overflow: auto;
    position: sticky;
    height: 100%;
    border-radius: 5px;
    background-color: #E6E6E6;
    flex-shrink: 1;
    flex-grow: 0;
    width: 100%;
    max-width: 250px;
}

#addMessageForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 150px;
}

#tekstikentta {
    width: 90%;
    height: 60px;
    resize: none;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#input-container {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type=file] {
    max-width: 150px;
    width: 100%;
    height: 40px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 5px;
    margin-right: 20px;
}

input[type=file]::file-selector-button {
    height: 100%;
    width: 100%;
    border: none;
    background: #8F00C7;
    padding: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #490066;
}

#board-select {
    width: 100%;
    max-width: 150px;
    height: 40px;
    border: none;
    background: #8F00C7;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

#board-select:hover {
    background: #490066;
}

#laheta-nappi {
    width: 100%;
    max-width: 150px;
    height: 40px;
    border: none;
    background: #8F00C7;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

#laheta-nappi:hover {
    background: #490066;
}

#viestit {
    max-width: 600px;
    width: 100%;
    min-height: 300px;
    box-shadow: 0 1px 10px -5px black;
}

.viesti-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #E6E6E6;
    transition: background .2s ease-in-out;
}

.viesti-container:hover {
    background-color: #E6E6E6;
}

.lahettaja-kortti {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profiilikuva {
    border-radius: 20px;
    margin-right: 10px;
}
.lK1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
p.lK1 {
    width: 50px;
}

.lK2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.viestikortti-palsta {
    font-weight: bold;
    padding: 5px;
    background-color: #E6E6E6;
    border-radius: 10px;
    box-shadow: 0 0 3px -2px black;
}

.viesti-kortti {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.
.viesti {
    padding-bottom: 20px;
    font-size: 1rem;
}
p.viesti {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 560px;
    width: 100%;
}
.viesti-kuva {
    box-shadow: 0px 0px 5px -3px;
    border-radius: 10px;
    width: 100%;
}
.napit-kortti {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fa-solid {
    font-size: 1.1rem;
    color: red;
}

.like-button {
    width: 100%;
    max-width: 100px;
    height: 30px;
    border: none;
    background: #8F00C7;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.modify-button {
    width: 100%;
    max-width: 100px;
    height: 30px;
    border: none;
    background: #8F00C7;
    border-radius: 5px;
    margin-right: 10px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.delete-button {
    width: 100%;
    max-width: 100px;
    height: 30px;
    border: none;
    background: #8F00C7;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

button:hover {
    background: #490066;
}


@media screen and (max-width: 600px) {
    .container {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    #vasen {
        position: fixed;
        top: 60px;
        height: 50px;
        max-width: 600px;
        margin: 0;
        padding: 5px;
        border-radius: 0;
        box-shadow: 0 5px 5px -4px #E6E6E6;
    }

    #keski {
        padding-top: 70px;
    }

    .viesti {
        width: 93%;
    }

    #oikea {
        position: fixed;
        bottom: 0;
        height: 51px;
        max-width: 600px;
        top: initial;
        margin: 0;
        padding: 5px;
        border-radius: 0;
        box-shadow: 0 0 5px 0 #E6E6E6;
    }
    .aluevalikko {
        flex-direction: row;
    }
    .aluelista {
        margin-bottom: 0;
        margin-right: 5px;
        margin-left: 5px;
    }
    .aluelinkki {
        font-size: 0.7rem;
    }
}