* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    top: 0;
    max-width: 1200px;
    width: 100%;
    height: 100px;
    background-color: #cbcb50;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#vasen {
    top: 100px;
    overflow: auto;
    position: sticky;
    flex-shrink: 1;
    flex-grow: 0;
    width: 100%;
    height: 600px;
    background: cornflowerblue;
    max-width: 300px;
}

#keski {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 600px;
    height: 100%;
    padding-top: 20px;
    background-color: aquamarine;
}
.viesti {
    max-width: 560px;
    width: 100%;
    min-height: 300px;
    background-color: brown;
    margin-bottom: 20px;
}

#oikea {
    top: 100px;
    overflow: auto;
    position: sticky;
    height: 600px;
    background-color: #bdadad;
    flex-shrink: 1;
    flex-grow: 0;
    width: 100%;
    max-width: 300px;
}

@media screen and (max-width: 600px) {
    .container {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    #vasen {
        position: fixed;
        top: 100px;
        height: 50px;
        max-width: 600px;
    }
    #keski {
        padding-top: 70px;
    }

    #oikea {
        position: fixed;
        bottom: 0;
        height: 50px;
        max-width: 600px;
        top: initial;
    }

}