@font-face {
    font-family: GalanoClassic;
    src: url(GalanoClassic-Regular.woff2);
}

* {
    font-size: 1rem;
    line-height: 1.6;
    box-sizing: border-box;
    font-family: GalanoClassic, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    top: 0;
    max-width: 1200px;
    width: 100%;
    height: 60px;
    background-color: #F0F0F0;
    box-shadow: 0 5px 5px -5px black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.forms {
    display: flex;
    flex-direction: row;
}

#login {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

#register {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    padding: 20px;
}

h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    max-width: 300px;
    width: 100%;
}

input {
    max-width: 300px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 1px 1px 5px -3px black;

}

.aputeksti {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.login-buttons {
    width: 100%;
    max-width: 150px;
    height: 40px;
    border: none;
    background: #8F00C7;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.login-buttons:hover {
    background: #490066;
}

@media screen and (max-width: 500px) {
    .container {
        margin-top: 50px;
    }

    .forms {
        flex-direction: column;
    }
}